body
{
    font-family: 'Open Sans';
}

h1
{
	font-weight: 300;
	text-align: center;
	font-size: 5.5em;
	padding: 0;

}

p
{
	margin-top: 0em;
	text-align: center;
	font-weight: 300;
	font-size: 1.7em;
}

.smallPrint
{
    font-size: 0.7em;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

.background
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(25px);
	-moz-filter: blur(25px);
	-ms-filter: blur(25px);
	-o-filter: blur(25px);
	background:  no-repeat center fixed;
	background-image: url(../../Resources/background.jpeg);
	background-size: cover;
	z-index: -1;
    opacity: 0.8;
}

button
{
    border-radius: 5px;
    width: 100px;
    height: 2em;
    background-color: rgba(10,9,255,0.6);
    border: 1px solid white;
    margin-left: window.innerWidth;
    margin-right: 1em;
}

button:hover
{
    background-color: white;
}

button:active
{
	background-color: hsla(234,80%,20%, 0.4);
}

input
{
    display: block;
    height: 3em;
    width: 30em;
    border: 1px solid gray;
    border-radius: 5px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

label
{
    display: inline-block;
}

.check
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}